$headerBackground: #2196F3;
$selectedPage: #1E88E5;

// box-shadow

$headerBoxShadow: rgba(0, 0, 0, 0.24);
$catWrapBoxShadow1: rgba(0, 0, 0, 0.24);
$catWrapBoxShadow2: rgba(0, 0, 0, 0.18);

// heart

$hoveredHeart: #F24E1E;
$clickedHeart: #FF3A00;


// primitive 

$colorWhite: #FFF;
$colorBlack: #000;